@model IEnumerable<VeterinaryClinic.Entities.Entities.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamePatient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRegistration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Race)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamePatient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRegistration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.NameOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Race.NameRace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specie.NameSpecie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPatient">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPatient">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPatient">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
