@model VeterinaryClinic.Entities.Entities.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idspecialty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idspecialty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telphone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telphone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentType.NameDocumentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol.NameRol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkStation.NameWorkStation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEmployee">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
