@model IEnumerable<VeterinaryClinic.Entities.Entities.WorkStation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameWorkStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameWorkStation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdWorkStation">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdWorkStation">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdWorkStation">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
